{
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": true,
  "semi": false,
  "trailingComma": "es5",
  "singleQuote": false,
  "quoteProps": "consistent",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "parser": "typescript"
}
