{
    "arrowParens": "avoid",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "parser": "typescript",
    "plugins": [
        "prettier-plugin-organize-imports"
    ],
    "printWidth": 120,
    "quoteProps": "consistent",
    "semi": false,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": true
}